<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>
<body>
  
<div>
    <h1><a href="/">Welcome to my blog</a></h1>
</div>


<div>

    <p>Published:20.02.2020, 04:09</p>
    <h2><a href="">My first post</a></h2>
    <p>Thank you for visiting my blog.</p>

</div>



<div>

    <p>Published: 20.02.2020, 04:18</p>
    <h2><a href="">My second post</a></h2>
    <p>Visit us more.</p>


</div>

</body>
</html>

